[Desktop Entry]
Type=Application
Version=1.0
Name=Bada Bing
Comment=Hey Linux, I got yer wallpaper
Exec=com.github.darkoverlordofdata.bing-wall --update --force --schedule=21600
Icon=/usr/local/share/icons/com.github.darkoverlordofdata.bada-bing.svg
Terminal=false
Categories=Utility;
#
# put this file in ~/.config/autostart
#